<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/accueil">
    <img src="/assets/LoireNB.png" class="logo" alt="Loire - eCommerce" title="e-Commerce">
  </a>

  <button class="navbar-toggler" type="button"
          (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse"
       [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav mr-auto">
    <li class="nav-item"> <span><a routerLink="/accueil">Accueil</a></span></li>
    <li class="nav-item"><span><a routerLink="/produits">Liste des produits</a></span></li>
            <li class="nav-item"><span *ngIf="!isAdmin() && !isUser()"><a routerLink="/nouvelUtilisateur">Création compte</a></span></li>
            <li class="nav-item"><span *ngIf="isAdmin() && !isUser()"><a routerLink="/nouveauProduit">Création produit</a></span></li>
            <li class="nav-item"><span *ngIf="!isAdmin() && isUser()"><a routerLink="/monCompte">Mon compte</a></span></li>
            <li class="nav-item"><span *ngIf="!isAdmin() && isUser()"><a routerLink="/monPanier">Mon panier</a></span></li>
            <li class="nav-item"><span *ngIf="isAdmin() && !isUser()"><a routerLink="/utilisateurs">Liste des utilisateurs</a></span></li>
            <li class="nav-item"> <ng-template #loggedOut> <a routerLink="/connexion">Connexion</a> </ng-template></li>
            <li class="nav-item"><span *ngIf="isAdmin() || isUser(); else loggedOut"><a routerLink="" (click)="logout()">Déconnexion</a></span></li>
         
    </ul>  <form class="form-inline my-2 my-lg-0">
           <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"  name="nom" [(ngModel)]="nom">
           <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="search()" >Search</button>
           </form>
  </div>
</nav>
<router-outlet></router-outlet>