.navbar-dark .bg-dark {

    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
padding-top:50px;
padding-bottom:50px;
background-color: #6c6c6c !important;
color:white;

}
a{
color: white;
margin: 15px;

}

.btn-outline-success{
background-color: #315981;
color:white;
border-color: silver;
float:right;
border-color: 315981;}
.bg-dark {
background-color: #565656 !important;
 }
.form-inline {
 float: right; 
}

.btn-outline-success{
background-color: #514e4e;
color:white;
border-color: silver;
}

