.productRow {
    padding: 1%;
    float:none; 
    margin: 0 auto;
    margin-bottom: 1%;
    margin-top: 1%;
    border: solid;
    border-color:rgb(224, 224, 224);
    border-width: 0.05em;
    border-radius: 0.2em;
}

img {
    height: 100px;
    width: auto;
}

.iconDiv :hover {
    cursor: pointer;
}

.icon {
    width: 50px;
}