<div class="container-fluid">
  <div *ngFor="let panier of paniers" class="row productRow">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <img src='./assets/img/{{panier.produit.image}}'/>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-4 col-xs-4">
        <span><h6>{{panier.produit.nom}}</h6>
        <h6>{{panier.produit.prix | number:'1.2-3'}} €</h6></span>
        <span><h6>Quantité : {{panier.qtt}}</h6></span>
      </div>
      <div class="iconDiv col-lg-1 col-md-1 col-sm-2 col-xs-2">
        <img class="icon" src='./assets/icons/plus.svg' (click)="addProduct(panier.produit)"/>
      </div>
      <div class="iconDiv col-lg-1 col-md-1 col-sm-2 col-xs-2">
        <img class="icon" src='./assets/icons/minus.svg' (click)="removeProduct(panier.produit)"/>
      </div>
  </div>

  <div class="row">
      <h6>Prix total : {{panierTotal.prixTotal}} €</h6>
      <button (click)="validerPanier()" [disabled]="panierTotal.prixTotal == 0">Valider</button>
  </div>
</div>
  
