.productform {
  float:none;
  margin: 0 auto;
  margin-bottom: 5%;
  padding-bottom: 2%;
  /*border: solid;
  //border-color:rgb(224, 224, 224);
  //border-radius: 0.5em;*/
  background-color: #929695;
    color: white;
    max-width: 100%;
    text-align: center;
    padding-top: 5%;

}

.form-control {
  padding-left: 0.5em;
  padding-right: 0;
}

.form-span {
  padding:0;
}

.form-center {
  padding-right: 3%;
  padding-left: 3%;
}

.form-left {
  padding-right: 1.5%;
}

.form-right {
  padding-left: 1.5%;
}

.form-bottom {
  margin-top:3%;
}
.has-error {
  background-color: rgb(255, 200, 200);
}

.text-error {
  font-style: italic;
}

label {
  margin-bottom:0 !important;
  margin-top: 1em;
}

.btn {
  margin-top: 2em;
}
.btn-primary{
  background-color:  #a2a2a2;
text-align: center;
border-color:#929695;

}
.btn-primary:hover{
  background-color:  #727b7b;
text-align: center;


}