<div class="col-lg-5 col-md-7 col-sm-9 col-xs-11 productform">
  <h2>Création d'un nouveau produit</h2>
<div>
  <form class="container" (ngSubmit)="createProduit()" #f="ngForm" name="form">
    <div class="row">
      <span class="col-12 form-span"> <label for="product.nom">Nom du produit :</label>
        <input type="text" name="product.nom" [(ngModel)]="product.nom" #nom="ngModel" required/></span>
    </div>
    <div class="row">
      <span class="col-12 form-span">  <label for="product.stock">Stock :</label>
       <input type="number" name="product.stock" [(ngModel)]="product.stock"  /></span>
    </div>
    <div>
      <span class="col-12 form-span"><label for="product.prix">Prix :</label>
        <input type="number" name="product.prix" [(ngModel)]="product.prix" #prix="ngModel"/></span>
    </div>
    <div class="row">
      <span class="col-12 form-span">  <label for="product.image">Image du produit :</label>
    <input type="text" name="product.image" [(ngModel)]="product.image" #image="ngModel"/></span>
  </div>
   <!-- <div class="row">
      <span class="col-12 form-span">  <label for="product.idCategorie">Catégorie :</label>
    <input type="text" name="product.idCategorie" [(ngModel)]="product.idCategorie" #image="ngModel"/></span>
     </div> -->
  <div class="row">
    <span class="col-12 form-span">  <label for="product.description">Description du produit :</label>
      <textarea type="text" name="product.description" [(ngModel)]="product.description" #description="ngModel" required></textarea></span>
  </div>
     <div class="col-12 ">
      <button class="btn btn-primary col3">Créer votre produit</button>
    </div>
  </form>




</div>
</div>

