.userForm {
    float:none; 
    margin: 0 auto;
    margin-bottom: 5%;
    margin-top: 5%;
    padding-bottom: 2%;
    border: solid;
    border-color:rgb(224, 224, 224);
    border-radius: 0.5em;
}

.passwordSpan :hover {
    cursor: pointer;
    color: #6c6c6c;
}

.password {
    margin-top: 1.6em;
    margin-bottom: 0;
}

.form-control {
    padding-left: 0.5em;
    padding-right: 0;
}

.form-span {
    padding:0;
    margin-top:3%;
}

label {
    margin-bottom:0 !important;
    padding: 0.5em;
}

.btn {
    margin-top: 1em;
}