<div class="col-lg-4 col-md-6 col-sm-8 col-xs-10 userForm">
    <h2>Connexion :</h2>
    <form class="container" (ngSubmit)="login()" #f="ngForm" name="form">
        <div class="row">
            <span class="col-5 form-span"><label for="email">Email :</label></span>
            <span class="col-7 form-span"><input class="form-control" type="text" name="user.email" #email="ngModel" [(ngModel)]="user.email" required/></span>
        </div>
        <div class="row">
            <span class="col-5 form-span"><label for="mdp">Mot de passe :</label></span>
            <span class="col-7 form-span"><input class="form-control" type="password" name="user.mdp" #mdp="ngModel" [(ngModel)]="user.mdp" required/></span>
        </div>
        <div class="row">
            <button class="col-4 btn btn-primary">Connexion</button><span class="passwordSpan col-8"><h6 (click)="resetMdp()" class="password">Mot de passe oublié ?</h6></span>
        </div>
    </form>
</div>