.footer-copyright{

	background-color:#565656;
	color:white;
}

.footer-copyright a{

color:#ffc600;;
text-decoration: none;
font-style:bold;
}

a{
	color: #ffc600;
}

.page-footer {
	background-color:#f2f2f2;
}
