<div class="col-lg-5 col-md-7 col-sm-9 col-xs-11 userForm">
    <h2>Création d'un compte</h2>
    <form class="container" (ngSubmit)="f.form.valid && mdp.value == mdpverif.value && createUser()" #f="ngForm" name="form">
        <div class="row">
            <span class="col-8 form-span form-left"><label for="user.email">Email</label></span>
            <span class="col-4 form-span form-right"><label for="user.telephone">Tél. (facultatif)</label></span>
        </div>
        <div class="row">

            <span class="col-8 form-span form-left"><input class="form-control" type="email" name="user.email" [(ngModel)]="user.email" #email="ngModel" email required [ngClass]="{ 'has-error': f.submitted && !email.valid }"/></span>
            <span class="col-4 form-span form-right"><input class="form-control" type="tel" name="user.telephone" [(ngModel)]="user.telephone" #telephone="ngModel"/></span>
        </div>
        <div class="row">
            <span *ngIf="f.submitted && !email.valid" class="text-error">L'email n'est pas valide</span>
        </div>
        <div class="row">
            <span class="col-6 form-span form-left"><label for="user.mdp">Mot de passe</label></span>
            <span class="col-6 form-span form-right"><label for="mdpVerif">Confirmez le mot de passe</label></span>
        </div>
        <div class="row">
            <span class="col-6 form-span form-left"><input class="form-control" type="password" name="user.mdp" placeholder="Au moins 6 caractères" [(ngModel)]="user.mdp" #mdp="ngModel" required [ngClass]="{ 'has-error': f.submitted && !email.valid }"/></span>
            <span class="col-6 form-span form-right"><input class="form-control" type="password" name="mdpVerif" [(ngModel)]="mdpVerif" #mdpverif="ngModel" required [ngClass]="{ 'has-error': f.submitted && mdp.value != mdpverif.value }"/></span>
        </div>
        <div class="row">
            <span *ngIf="f.submitted && !mdp.valid" class="text-error">Le mot de passe n'est pas valide</span>
            <span *ngIf="f.submitted && mdp.value != mdpverif.value" class="text-error">Les mots de passe sont différents</span>
        </div>
        <div class="row">
            <span class="col-2 form-span"><label for="user.civilite">Civilité</label></span>
            <span class="col-5 form-span form-center"><label for="user.nom">Nom</label></span>

            <span class="col-5 form-span "><label for="user.prenom">Prénom</label></span>
        </div>
        <div class="row">
            <span class="col-2 form-span"><select class="form-control" name="user.civilite" [(ngModel)]="user.civilite" #civilite="ngModel" required>
                <option value="Mr">Mr</option>
                <option value="Mme">Mme</option>
            </select></span>
            <span class="col-5 form-span form-center"><input class="form-control" type="text" name="user.nom" [(ngModel)]="user.nom" #nom="ngModel" required/></span>
            <span class="col-5 form-span"><input class="form-control" type="text" name="user.prenom" [(ngModel)]="user.prenom" #prenom="ngModel" required/></span>
        </div>
        <div class="row">
            <span class="col-12 form-span"><label>Adresse</label></span>
        </div>
        <div class="row">

            <span class="col-2 form-span form-left"><input class="form-control" type="number" name="user.adresse.numero" placeholder="N°" min=1 [(ngModel)]="user.adresse.numero" #numero="ngModel" required/></span>
            <span class="col-10 form-span form-right"><input class="form-control" type="text" name="user.adresse.rue" placeholder="Rue, Avenue, Boulevard, etc." [(ngModel)]="user.adresse.rue" #rue="ngModel" required/></span>
        </div> 
        <div class="row">
            <span class="col-3 form-span form-bottom form-left"><input class="form-control" type="text" name="user.adresse.cp" placeholder="CP" [(ngModel)]="user.adresse.cp" #cp="ngModel" required/></span>
            <span class="col-9 form-span form-bottom form-right"><input class="form-control" type="text" name="user.adresse.commune" placeholder="Ville" [(ngModel)]="user.adresse.commune" #ville="ngModel" required/></span>
        </div>
        <div class="row">
            <button class="btn btn-primary col-6">Créer votre compte</button>
        </div>
    </form>
</div>

