.userForm {
    float:none; 
    margin: 0 auto;
    margin-bottom: 5%;
    margin-top: 5%;
    padding-bottom: 2%;
    border: solid;
    border-color:rgb(224, 224, 224);
    border-radius: 0.5em;
}

.form-control {
    padding-left: 0.5em;
    padding-right: 0;
}

.form-span {
    padding:0;
}

.form-center {
    padding-right: 3%;
    padding-left: 3%;
}

.form-left {
    padding-right: 1.5%;
}

.form-right {
    padding-left: 1.5%;
}

.form-bottom {
    margin-top:3%;
}
.has-error {
    background-color: rgb(255, 200, 200);
}

.text-error {
    font-style: italic;
}

label {
    margin-bottom:0 !important;
    margin-top: 1em;
}

.btn {
    margin-top: 2em;
}