<div class="container">
  <div class="row">
    <div class="col-4 cadre">
      <h4>Liste des utilisateurs :</h4>
      <ul class="list-group">
        <li *ngFor="let user of users" 
        class="list-group-item list-group-item-action" 
        [class.active]="user === selectedUser"
        [class.disabled]="modifsEnCours"
        (click)="onSelect(user)">
          <span>{{user.civilite}} {{user.nom | uppercase}} {{user.prenom}}</span> 
        </li>
      </ul>
    </div>
    <div class="col-8 cadre">
      <h4>Détails de l'utilisateur sélectionné :</h4>
      <app-user-detail *ngIf="selectedUser" [user]="selectedUser" (isLocked)="isLocked($event)" (isUnLocked)="isUnLocked($event)"></app-user-detail>
    </div>
  </div>
</div>
