<div class="container-fluid">
  <div class="row">
    <div *ngFor="let product of products" class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
          <div class="productContainer"><a routerLink="/produits/{{product.id}}">
          <img src='./assets/img/{{product.image}}'/>
          <h6>{{product.nom}}</h6>
          <h6>{{product.prix | number:'1.2-3'}} €</h6>
          <p>{{product.description}}</p>
        </a></div>
    </div>
  </div>
</div>