.productContainer {
    padding: 10%;
    float:none; 
    margin: 0 auto;
    margin-bottom: 5%;
    margin-top: 5%;
    border: solid;
    border-color:rgb(224, 224, 224);
    border-width: 0.05em;
    border-radius: 0.2em;
}

a {
    color:black;
    text-decoration: none;
    
}

a :hover {
    border-color: #007bff;
    border-width: 0.1em;
}

img {
    width: 100%;
    max-height: 300px;
    height: auto;
}

