<div class="container-fluid">
<div class="affichage" *ngIf="!valid">
  <div class="productDetail row">
    <div class="col-3">
      <img src='./assets/img/{{product.image}}'/>
    </div>
    <div class="col-9">
      <h5>{{product.nom}}</h5>
      <h6>Description : {{product.description}}</h6>
      <h6 *ngIf="product.stock == undefined">Sur commande</h6>
      <h6 *ngIf="product.stock > 0">En stock</h6>
      <h6 *ngIf="product.stock == 0">En rupture de stock</h6>
      <h6>Prix : {{product.prix | number:'1.2-3'}} €</h6>
      <!-- <h6>Catégorie : {{product.idCategorie}}</h6> -->
    </div>
      </div>
      <button *ngIf="isAdmin()" (click)="valid = true">Modifier</button>
      <button *ngIf="isAdmin()" (click)="deleteProduct(product.id)">Supprimer</button>
      <button *ngIf="isUser()" (click)="buyProduct(product)" [disabled]="product.stock == 0">Ajouter au panier</button>
      <button (click)="goBack()">Retour</button>
  </div>
</div>
<div class="col-lg-5 col-md-7 col-sm-9 col-xs-11 productform" *ngIf="valid">
  <form class="container" (ngSubmit)="modifieProduct()" #f="ngForm" name="form">
    <div class="row">
      <span class="col-6 form-span form-left"><label for="nom">Nom:</label></span>
      <span class="col-4 form-span form-right"><input class="form-control" type="text" name="nom" [(ngModel)]="productModif.nom"/></span>
    </div>
    <div class="row">
      <span class="col-6 form-span form-left"><label for="prix">Prix:</label></span>
      <span class="col-4 form-span form-right"><input class="form-control" type="number" name="prix" [(ngModel)]="productModif.prix"/></span>
    </div>
    <div class="row">
      <span class="col-6 form-span form-left"><label for="description">Description</label></span>
      <span class="col-4 form-span form-right"><input class="form-control" type="text" name="description" [(ngModel)]="productModif.description" ></span>
    </div>
    <div class="row">
      <span class="col-6 form-span form-right"><label for="image">Image:</label></span>
      <span class="col-4 form-span form-right"><input class="form-control" type="text" name="image" [(ngModel)]="productModif.image"/></span>
    </div>
    <!-- <div class="row">
      <span class="col-6 form-span form-left"><label for="idCategorie">Catégorie:</label></span>
      <span class="col-4 form-span form-right"><input class="form-control" type="number" name="idCategorie" [(ngModel)]="productModif.idCategorie"/></span>
    </div> -->
    <div class="row">
      <span class="col-6 form-span form-left"><label for="stock">Stock:</label></span>
      <span class="col-4 form-span form-right"><input class="form-control" type="text" name="stock" [(ngModel)]="productModif.stock" /></span>
    </div>
    <div class="row">
        <button class="btn btn-primary col-6">Modifier le produit</button><button class="btn btn-primary col-3" (click)="refresh()">Annuler</button>
    </div>
  </form>
</div>

