<div class="affichage" *ngIf="!modifsEnCours">
  <h5>{{user.civilite}} {{user.nom | uppercase}} {{user.prenom}}</h5>
  <h6>Email : {{user.email}}</h6>
  <h6>Téléphone : {{user.telephone}}</h6>
  <h6>Adresse : {{user.adresse.numero}} {{user.adresse.rue}} {{user.adresse.cp}} {{user.adresse.commune}}</h6>
  <h6>Date d'inscription : {{user.dateInscription | date: 'dd/MM/yyyy'}}</h6>
  <button (click)="initForm()">Modifier</button>
  <button (click)="deleteUser(user)">Supprimer</button>
</div>
  <div class="modification" *ngIf="modifsEnCours">
    <form class="container" (ngSubmit)="f.form.valid && modifyUser()" #f="ngForm" name="form">
      <div class="row">
          <span class="col-8 form-span form-left"><label for="email">Email</label></span>
          <span class="col-4 form-span form-right"><label for="telephone">Tél. (facultatif)</label></span>
      </div>
      <div class="row">
          <span class="col-8 form-span form-left"><input class="form-control" type="email" name="userModif.email" [(ngModel)]="userModif.email" #email="ngModel" email required [ngClass]="{ 'has-error': f.submitted && !email.valid }"/></span>
          <span class="col-4 form-span form-right"><input class="form-control" type="tel" name="userModif.telephone" [(ngModel)]="userModif.telephone" #telephone="ngModel"/></span>
      </div>
      <div class="row">
          <span *ngIf="f.submitted && !email.valid" class="text-error">L'email n'est pas valide</span>
      </div>
      <div class="row">
          <span class="col-2 form-span"><label for="nom">Civilité</label></span>
          <span class="col-5 form-span form-center"><label for="nom">Nom</label></span>
          <span class="col-5 form-span "><label for="nom">Prénom</label></span>
      </div>
      <div class="row">
          <span class="col-2 form-span"><select class="form-control" name="userModif.civilite" [(ngModel)]="userModif.civilite" #civilite="ngModel" required>
              <option value="Mr">Mr</option>
              <option value="Mme">Mme</option>
          </select></span>
          <span class="col-5 form-span form-center"><input class="form-control" type="text" name="userModif.nom" [(ngModel)]="userModif.nom" #nom="ngModel" required/></span>
          <span class="col-5 form-span"><input class="form-control" type="text" name="userModif.prenom" [(ngModel)]="userModif.prenom" #prenom="ngModel" required/></span>
      </div>
      <div class="row">
          <span class="col-12 form-span"><label for="adresse">Adresse</label></span>
      </div>
      <div class="row">
          <span class="col-2 form-span form-left"><input class="form-control" type="number" name="userModif.adresse.numero" placeholder="N°" min=1 [(ngModel)]="userModif.adresse.numero" #numero="ngModel" required/></span>
          <span class="col-10 form-span form-right"><input class="form-control" type="text" name="userModif.adresse.rue" placeholder="Rue, Avenue, Boulevard, etc." [(ngModel)]="userModif.adresse.rue" #rue="ngModel" required/></span>
      </div> 
      <div class="row">
          <span class="col-3 form-span form-bottom form-left"><input class="form-control" type="text" placeholder="CP" name="userModif.adresse.cp" [(ngModel)]="userModif.adresse.cp" #cp="ngModel" required/></span>
          <span class="col-9 form-span form-bottom form-right"><input class="form-control" type="text" placeholder="Ville" name="userModif.adresse.commune" [(ngModel)]="userModif.adresse.commune" #ville="ngModel" required/></span>
      </div>
      <div class="row">
          <button class="btn btn-primary col-3">Valider</button><button class="btn btn-primary col-3" (click)="refresh()">Annuler</button>
      </div>
  </form>
  
  </div>
