<div class="container-fluid">
  <div class="row">
    <div *ngFor="let product of products" class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
          <a routerLink="/produits/{{product.id}}"><div class="productContainer">
          <img src='./assets/img/{{product.image}}'/>
          <h6>{{product.nom}}</h6>
          <h6>{{product.prix | number:'1.2-3'}} € - 
          <span *ngIf="product.stock == undefined">Sur commande</span>
          <span *ngIf="product.stock > 0">En stock</span>
          <span *ngIf="product.stock == 0">En rupture de stock</span></h6>
        </div></a>
    </div>
  </div>
</div>